html,body{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;

}
ul{
    list-style-type: none;
}
ol, ul {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
p{
    margin: 0;
}
.main_wrapper .container{
    /*width: 90%;*/
    padding: 0;
}
.main_wrapper .header_wrapper{
    position: relative;
    z-index: 2;
    /*height: 166px;*/
}
.top_header_all{
    background: url(../images/header_bg_01.png) repeat-x;
    height: 33px;
}
.header_middle{
    background-color: #e7e7e7;
}
.header_line{
    background-color: #77af50;
    height: 5px;
}
.top_header {
    /*height: 33px;*/

}

.header_wrapper .social_links {

}

.header_wrapper .top_menu {
    /*float: right;*/
}

.social_links {
    margin-top: 5px;
}

.social_links div {
    background-image: url("../images/slider_09_01.png");
    float: left;
    height: 22px;
    width: 22px;
    margin-left: 5px;
}

.social_links .fb {
    background-position: 5px 0;
}

.social_links .tw {
    background-position: -23px 0;
}

.social_links .in {
    background-position: -51px 0;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,
.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
    padding: 0;
}
/*.top_menu{*/
    /*float: right;*/
/*}*/
.top_menu ul {
    padding: 0;
}
.row{
    margin: 0;
}
.top_menu li {
    display: inline-block;


}

.top_menu li a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;

}
.navbar_for_header_menu .navbar-toggle{
    float: none !important;
    position: relative;
    text-align: center;
    width: 55px;
    margin: 0;
}
.navbar_for_header_menu .navbar-toggle .icon-bar{
    border: 2px solid #cfcfcf;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 50px;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.collapse.in {
    display: block;
}
.top_menu li:nth-child(2) {
    border-left: solid 1px #b4b3b3;
    border-right: solid 1px #b4b3b3;
}

.top_menu li a:hover {
    text-decoration: underline;
}

.middle_header {
    height: 75px;
    margin-top: 10px;
}
.logo{
    /*float: left;*/
}
.promo {
    text-align: center;
    /*float: left;*/
}

.promo .promo_title {
    color: #583678;
    font-size: 22px;
}

.promo .promo_click_get {
    margin-top: 5px;
    color: #fff;
}
.promo_click_get span{
    background-color: #77af50;
    padding: 5px 10px;

}
.middle_header .email_us{
    border: 6px solid #583678;
    color: #583678;
    /*float: right;*/
    font-size: 28px;
    /*left: -20px;*/
    margin-top: 10px;
    /*padding: 5px 10px;*/
    position: relative;
    text-align: center;
    width: 160px;
    background: none;
}
.header_bottom{
    height: 45px;
}
.bottom_header_menu{
    text-align: center;
    /*height: 20px;*/
    /*margin: 10px 0px;*/
}
.bottom_header_menu li{
    display: inline-block;
    margin: 0 15px -20px 25px;

}
.bottom_header_menu .navbar-nav, .bottom_header_menu .navbar-nav > li{
    float: none;
}

.bottom_header_menu li a{
    text-transform: uppercase;
    color: #797567;
    text-decoration: none;
    position: relative;
    top: -20px;
}

.bottom_header_menu li.active a{
    color: #000!important;
    background: none!important;
    /*height: 55px;*/

}
.bottom_header_menu li.active:before{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #77af50 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 12px;
    content: "";
    position: relative;
    top: 6px;

}
.main_wrapper .banner_wrapper_shadow{
    height: 533px;
    background: url("../images/banner_sh.png") no-repeat top center ;
}
.main_wrapper .banner_wrapper{
    /*background: url(../images/banner_bg_02.png) no-repeat top center;*/
    height: 533px;
    background: url("../images/banner_fin.png") no-repeat top center;
}
.banner_border{
    background: url(../images/banner_border_01.png) no-repeat top  scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 286px;*/
    /*height: 270px;*/
    margin-top: 100px;
    text-align: center;
    overflow-y: hidden;
    width: 100%;
}
/*.banner_border.col-lg-12{*/
    /*height: 286px;*/
/*}*/
/*.banner_border.col-md-12{*/
    /*height: 240px;*/
/*}*/


/*.banner_border.col-sm-12{*/
    /*height: 180px;*/
/*}*/
/*.banner_border.col-xs-10{*/
    /*height: 152px!important;*/
/*}*/

.banner_border img{

}
.banner_text_block{
    margin: -5px 10% 0;
}
.banner_text_block p{
    color: #fff;
    margin-bottom: 20px;
}
.banner_text_bold{
    font-weight: bold;
    font-size: 20px;
}
.banner_bottom_text_block{
    margin-top: 50px;
}
.banner_bottom_text_block p{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 0;
}
.search_block{
    height: 55px;
}
.left_search_icon{
    background: url(../images/search_left_05.png) no-repeat ;
    height: 55px;
    margin-top: 5px;
    cursor: pointer;
}
.search_form{
    width: 32%;
    margin-top: 13px;
    position: relative;
}
.search_block input{
    border: 1px solid #583678;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    width: 92%;
}
.search_block button{
    background: url("../images/search_icons_01.png") repeat scroll -66px 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 23px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 23px;
}

.clear{
    clear: both;
}

.main_wrapper .search_wrapper{
    background-color: #e7e7e7;
    height: 60px;
}

.catalog_product_block{
    position: relative;
}
.catalog_product_block > div{
    margin-bottom: 15px;

}
.catalog_product_block .col-sm-6{
    padding-left: 15px;
    padding-right: 15px
}

.catalog_product_block > div > img{
    margin: 0 auto;
}
.catalog_title{
    text-align: center;
    font-size: 20px;
    color: #583678;
    margin: 70px 0;
}

.catalog_info_block {
    background: rgba(105, 64, 142, 1);
    height: 55px;
    padding: 15px  5% 0 5%;
    padding-top: 15px;
    position: relative;
    top: -45px;
}
.twice_catalog_block{
    clear: both;
}
.catalog_info_block{
    /*top: -45px;*/

    /*position: relative;*/
    /*padding: 0 5%;*/

}
/*.catalog_product_block > div{*/
    /*background-image: url("../images/cat_sh_03.png");*/
/*}*/
/*.catalog_wrapper_img{*/
    /*position: relative;*/
/*}*/
.catalog_info_block p{
    font-size: 20px;
    float: left;


}
.catalog_info_block p:nth-child(1){
     /*font-size: 22px;*/

     font-weight: 600;

 }
.catalog_info_block p:nth-child(2){
    float: right;
}
.catalog_info_block a{
    text-decoration: none;
    /*font-size: 22px;*/
    float: right;
    color: #fff;
    /*margin-right: 20px;*/
}
.catalog_info_block a:hover{
    text-decoration: underline;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    clear: both;
}
.main_wrapper .testimonials_wrapper{

    background: url(../images/testimonials_bg_01.png) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 765px;
    margin-bottom: 70px;



}
.catalog_product_block img{
    width: 100%;
    opacity: .7;
}

.testimonials_wrapper .container .row > h3{
    text-align: center;
    margin: 45px 0;
    font-size: 33px;
    color:#48494d;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif!important;
    font-weight: lighter;

}
.testimonials_block_left h3{
    color: #77af50;
    position: relative;
    text-align: center;
    top: 15px;
    font-size: 25px;
}
.testimonials_block_right h3{
    text-align: left;
    color: #9075a9;
    font-size: 28px;
    margin-top: 0;
    font-family: "Roboto",sans-serif !important;
    font-weight: normal;

}
.testimonials_block_right p{
    color: #5e5f62;
    line-height: 20px;
}

.cat_filter{
    /*background: peachpuff linear-gradient(90deg,*/
    /*rgba(255, 255, 255, 0) 50%, rgba(182, 182, 182, .4) 50%*/
    /*) center center / 2em;*/
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(182, 182, 182, 1) 50%) repeat scroll center center / 5px;

}
.testimonials_all_block{
    /*background: url(../images/testimonials_bgr_04.png) no-repeat top center;*/
    height: 565px;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
    width: 80%;
    /*scrollbar-face-color: #48494d;*/
    /*scrollbar-3dlight-color:red;*/
    /*scrollbar-arrow-color:yellow;*/
    /*scrollbar-highlight-color: aqua;*/
    /*scrollbar-face-color:green;*/
    /*scrollbar-shadow-color:fuchsia;*/
    /*scrollbar-darkshadow-color:blue;*/
    /*scrollbar-track-color: maroon;*/

}
.testimonials_block{
    /*background: url("../images/testimonials_block_01.png") no-repeat scroll center top rgba(0, 0, 0, 0);*/
    height: 165px;
    margin: 0 auto 20px;
    position: relative;
    top: 0;


}
.testimonials_block_left{
    float: left;
    /*height: 160px;*/
    width: 150px;
}
.testimonials_block_right{
    float: left;
    /*width: 75%;*/
    overflow: hidden;
    height: 140px;
}

.testimonials_block_left > div{
    background-color: #fff;
    border: 3px solid #898a8c;
    border-radius: 50%;
    height: 135px;
    width: 135px;
}



.footer{
    padding: 30px 0 10px 0;
    margin: 0 auto;
}
.footer_left > div{
    margin-bottom: 20px;
}
.footer_left h4{
    font-size: 17px;
    margin-bottom: 20px;
}
.footer_left p{
    font-size: 14px;
    color: #595a5e;
    text-decoration: underline;
}
.footer_left a{
    font-size: 17px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.footer_left a:hover{
   text-decoration: underline;
}
.footer_logo{
    background: url("../images/footer_logo_23.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 70px;
    width: 165px;
    margin-top: 10px;
}
.footer_right{
    text-align: right;
}
.footer_right h4{
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    font-size: 18px;
}
.footer_right p{
    font-size: 18px;
    color: #5a5a5e;
}
.main_wrapper .footer_wrapper{
    background: url(../images/footer_wrap_bg_05.png) repeat-x;
    height: 377px;
    overflow: hidden;
}
.main_wrapper .footer_top{
    background: url(../images/footer_bg_image_01.jpg) no-repeat top center;
    height: 412px;
}
.footer_bottom p{
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
}

.footer_bottom{
    background-color: #82639f;
}

.curved-hz-1 {
    position:relative;
    width:95%;
    padding:1em;
    /*margin:2em 10px 4em;*/
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    -webkit-box-shadow: -1px 4px 5px 0 rgba(0, 0, 0, 0.3);;
    -moz-box-shadow: -1px 4px 5px 0 rgba(0, 0, 0, 0.3);;
    box-shadow: -1px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.curved-hz-1:before,
.curved-hz-1:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved-hz-1:before {
    top:50%;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


.curved-hz-2 {
    position:relative;
    /*width:40%;*/
    padding:1em;
    /*margin:2em 10px 4em;*/
    /*background:#fff;*/
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/


    /*box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.3) ;*/
    /*border-top: solid 1px #cfcfcf;*/
    /*border-bottom: solid 1px #cfcfcf;*/
}
.testimonials_wrapper img{
    width: 80%;
    margin: 0 auto;
}

.curved-hz-2:before,
.curved-hz-2:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved-hz-2:before {
    top:0px;
    bottom:0px;
    left:10px;
    right:10px;
    /*-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    /*-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    /*box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}



@media only screen and (max-width: 767px) {
/*@media only screen and(max-width: 767px){*/
    .middle_header .logo{
        text-align: center;
        width: 100%;
    }
    .promo .promo_title{
        font-size: 18px;
    }
    .promo_click_get{
        background-color: #77af50;
    }
    .middle_header .promo{
        width: 50%;
        float: left;
        font-size: 18px;
    }
    .promo_click_get span{
        background:none;
    }
    .header_middle {
        background-color: #e7e7e7;
        padding-bottom: 10px;
    }
    .middle_header .email_us{
        font-size: 18px;
        left: 0px;
        margin-top: 10px;
    }
    .bottom_header_menu li{
        width: 100%;
        margin: 0;
    }
    .bottom_header_menu li.active:before{
        border: none!important;
        border-top: none!important;
        content: "";
        position: static;
        top: 0;

    }
    .bottom_header_menu li{
        display: inline-block;
        margin: 0 ;

    }
    .bottom_header_menu .navbar-nav {
        margin: 35px 0 0;
    }
    .banner_bottom_text_block p{
        font-size: 18px;
    }

    .banner_text_block p{
        font-size: 12px;
    }
    .search_block input{
        width: auto;
    }
    .footer_left p,.footer_left a{
        font-size: 12px;
    }
    .footer_left h4,.footer_right h4{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .footer_right p{
        font-size: 12px;
    }
    .footer {
        padding: 0 0 10px;
    }
    .footer_left > div{
        margin-bottom: 10px;
    }
    .banner_border   {

        /*overflow-y: scroll;*/
    }
    /*.catalog_info_block{*/
        /*padding: 0 12%;*/
    /*}*/

    .testimonials_block {
        height: auto;
        /*overflow: hidden;*/
    }
    .testimonials_block_left{
        margin: 0 auto;
        float: none;
        margin-bottom: 15px;
    }
    .testimonials_block_right h3{
        text-align: center;
    }
    .testimonials_block_right{
        float: none;
        height: auto;
    }
    .catalog_info_block p{
        font-size: 16px;
    }
    .catalog_info_block{
         position: relative;
         top: -45px;
     }



}
@media only screen and (max-width: 359px) {
    .footer_left a{
        display: none;
    }
    .catalog_info_block p{
        font-size: 12px;
    }
    .catalog_info_block{
        position: relative;
        top: -25px;
    }
}
@media only screen and (max-width: 459px) and (min-width: 359px){
    .catalog_info_block{
        position: relative;
        top: -30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .catalog_info_block{
        padding: 0 8%;
        top: -34px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 890px){
    .testimonials_block_right{
        width: 66%;
    }
}



@media only screen and (min-width: 891px) and (max-width: 950px){
    .testimonials_block_right{
        width: 70%;
    }
}
@media only screen and (min-width: 951px)and (max-width: 1050px) {
    .testimonials_block_right{
        width: 73%;
    }
}
@media only screen and (min-width: 1051px)and (max-width: 1200px) {
    .testimonials_block_right{
        width: 76%;
    }
}
@media only screen and (min-width: 1201px){
    .testimonials_block_right{
        width: 80%;
    }
}






@media only screen and (min-width: 1200px){
    .banner_border.col-lg-12{
        height: 286px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .banner_border.col-md-12{
        height: 240px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .banner_border.col-sm-12{
         height: 180px;
    }
}
@media only screen and (max-width: 767px){
    .banner_border.col-xs-10{
    /*height: 152px!important;*/
        height: auto;
        background: none;
    }
}
/*@media only screen and (min-width: 1200px){*/
    /*.banner_border.col-sm-12{*/
        /*height: 180px;*/
    /*}*/
/*}*/




